@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*{
    margin: 0;
    padding: 0;
  }
.contenedorPrincipalError{
  height: 100vh;
  width: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
}
.contenedor404{
  border: white 1px solid;
  height: 77%;
  display: flex;
  justify-content: center;
}
.contenedorHomero{
  border: red 1px solid;
  width: 23%;
  height: 100%;
}
.contenedorHomero img {
  width: 100%;
  height: 100%;
}
.letras404{
  border: red 1px solid;
  width: 50%;
}

.contenedorLetras404{
  width: 100%;
  border: green 1px solid;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorLetras404 img {
  width: 23rem;
  height: 23rem;
}
.cuatro{
  margin: 0;
  color: white;
  font-size: 30rem;
  font-family: 'Bebas Neue';

}
.contenedorBoton{
  padding: 0;
  border: blue 1px solid;
  display: flex;
  justify-content: center;
}


.boton-error{
  font-family: 'Bebas Neue';
  background-color: #1d0c20 !important;
  color: white !important;
  padding: 6px 10px 6px 10px;
  border: 2px solid #651f71 !important;
  transition: 0.2s;
  border-radius: 3px;
  margin-top: 1rem;
  }
  .boton-error:hover{
    background-color: #7037cd !important;
    border: none;
    margin: 0;
  }
    
  