@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}
.contenedorPrincipalError {
  width: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
}
.contenedor404 {
  border:  green solid 1px;
  height: 40rem;
  display: flex;
  justify-content: center;
}
.contenedorHomero {
  border: red solid 1px;
  width: 23%;
  height: 40rem;
}
.contenedorHomero img {
  width: 100%;
  height: 100%;
}
.letras404 {
  border: white;
  width: 50%;
}
.contenedorLetras404 {
  border: blue solid 1px  ;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorLetras404 img {
  width: 23rem;
  height: 23rem;
}
.cuatro {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 30rem;
  font-family: "Bebas Neue";
}
.contenedorBoton {
  padding: 0;
  display: flex;
  justify-content: center;
}
.boton-error {
  font-size: 3rem;
  height: 5rem;
  font-family: "Bebas Neue";
  background-color: #1d0c20 !important;
  color: white !important;
  padding: 6px 10px 6px 10px;
  border: 2px solid #651f71 !important;
  transition: 0.2s;
  border-radius: 3px;
}
.boton-error:hover {
  background-color: #7037cd !important;
  border: none !important;
  margin: 0;
}
.contenedorTextoError {
  width: 100%;
  height: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Bebas Neue";
}
.contenedorTextoError h2 {
  font-size: 4.8rem;
}
/*------------------ RESPONSIVE ------------------------- */
@media (width: 375px) and (height: 667px) {
  .contenedor404 {
    border:  green solid 1px;
    height: 100rem;
    display: flex;
    justify-content: center;
    justify-content: space-between !important;
  }
  .contenedorHomero {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .letras404 {
    width: 100%;
  }
  .contenedorLetras404 {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cuatro {
    margin: 0;
    color: white;
    padding-top: 5rem;
    font-size: 16rem;
    font-family: "Bebas Neue";
  }
  .contenedorLetras404 img {
    margin-top: 5rem;
    width: 9rem;
    height: 9rem;
  }
  .contenedorBoton {
    margin-top: 5rem;
  }
  .boton-error {
    width: 90%;
    font-size: 3rem;
    height: 5rem;
    font-family: "Bebas Neue";
    background-color: #1d0c20 !important;
    color: white !important;
    padding: 6px 10px 6px 10px;
    border: 2px solid #651f71 !important;
    transition: 0.2s;
    border-radius: 3px;
  }
  .contenedorTextoError {
    height: 5rem;
  }
  .contenedorTextoError h2 {
    font-size: 3rem;
  }
}
/* IPONE XR */

@media (min-width: 375px) and (max-height: 896px) {
  .contenedor404 {
    border:  green solid 1px;
    height: 70vh;
    display: flex;
    justify-content: center;
    justify-content: space-between !important;
  }
  .contenedorHomero {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .letras404 {
    width: 100%;
  }
  .contenedorLetras404 {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cuatro {
    margin: 0;
    color: white;
    padding-top: 5rem;
    font-size: 16rem;
    font-family: "Bebas Neue";
  }
  .contenedorLetras404 img {
    margin-top: 5rem;
    width: 9rem;
    height: 9rem;
  }
  .contenedorBoton {
    margin-top: 5rem;
  }
  .boton-error {
    width: 90%;
    font-size: 3rem;
    height: 5rem;
    font-family: "Bebas Neue";
    background-color: #1d0c20 !important;
    color: white !important;
    padding: 6px 10px 6px 10px;
    border: 2px solid #651f71 !important;
    transition: 0.2s;
    border-radius: 3px;
  }
  .contenedorTextoError {
    height: 5rem;
  }
  .contenedorTextoError h2 {
    font-size: 3rem;
  }
}
/* @media (width: 414px) and (height: 896px){
  .contenedor404{
    height: 40rem;
  }

} */
@media (width: 1024px) and (height: 600px) {
  .cuatro {
    margin: 0;
    color: white;
    padding-top: 5rem;
    font-size: 16rem;
    font-family: "Bebas Neue";
  }
  .contenedorLetras404{
    height: 15rem;
  }
  .contenedorHomero{
    height: 20rem;
  }
  .contenedor404{
    height: 21rem;
  }
  .contenedorLetras404 img {
    margin-top: 5rem;
    width: 9rem;
    height: 9rem;
  }
  .boton-error {
    /* width: 50%; */
    font-size: 1.5rem;
    height: 3rem;
    font-family: "Bebas Neue";
    background-color: #1d0c20 !important;
    color: white !important;
    padding: 6px 10px 6px 10px;
    border: 2px solid #651f71 !important;
    transition: 0.2s;
    border-radius: 3px;
  }
  .contenedorTextoError h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1920px) and (min-height: 1080px) {

}
