/* .contenedorPrincipalAbout {
  border: 1px solid red;
} */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%22");
.contendorPortadaAbout {
  height: 70vh;
  background-image: url(../../Image/ABOUT-IMAGE/bannerAbout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.sombraPortadaAbout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 3rem;
}
.sombraPortadaAbout h1 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
}
.sombraPortadaAbout h3 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
}
.sombraPortadaAbout h5 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}
.sombraPortadaAbout h5 strong {
    letter-spacing: 1px;
}
