@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* .contendor-botonReserva-imagenes {
  border: 1px solid red;
  height: 25rem;
  display: flex;
}
.contenedorBotonReservar {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181818;
}
.tituloRestoCode {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tituloRestoCode h1 {
  font-size: 4rem;
  padding: 0;
  margin: 0;
}
.restoBar h2 {
  border-top: 2px solid #68b2f8;
  border-bottom: 2px solid #68b2f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
}
.botonReservarIndex {
  border: none;
  background-color: #1d0c20;
  color: white;
  padding: 6px 10px 6px 10px;
  border: 2px solid #651f71;
  transition: 0.2s;
  border-radius: 3px;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family: "Bebas Neue", sans-serif;
}
.botonReservarIndex:hover {
  background-color: #7037cd;
  border: none;
  margin: 0;
}
.imagenDeFondoIndex {
  width: 50%;
}
.imagenDeFondoIndex video {
  height: 100%;
} */
.contenedorPresentacion {
  background-image: url(../../Image/INDEX-IMAGE/fondoIndex7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.contenedorConSombra {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
}
.headerEnIndex {
  border: 1px solid blue;
  height: 13rem;
  display: flex;
  flex-direction: column;
}
.nombreDeCerveceria {
  border: 1px solid red;
  height: 50%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tituloRestoCodeIndex {
  color: white;
  font-size: 5rem;
  margin-left: 3rem;
  font-family: "Bebas Neue", sans-serif;
}
.logoTransparente {
  height: 5.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.fraseYnav {
  /* border: 1px solid red; */
  height: 50%;
}