@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
    margin: 0;
    padding: 0;
    background-color: #1d0620;
    align-items: center;
    text-decoration-color: white;

}


.foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8, .foto9, .foto10{
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 0.8em;
    display: block;
    outline: 1px solid #68b2f8;
    border-radius: 6px;


}

.foto:hover {
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.grid-galeria {
    align-items: center;
    columns: 3;
    column-gap: 0.8em;
}

.tituloGaleria {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logoA {
    width: 120px;
    height: 120px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.logoB {
    width: 120px;
    height: 120px;
    margin-bottom: 2%;
    margin-top: 2%;
}