@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
    margin: 0;
}
/* .contenedorPrincipalDeGaleria {
    border: 1px solid red;
} */

.presentacionHamburguesaXtreme {
  height: 27rem;
  display: flex;
  background-color: #181818;
}

.contenedorXtreme {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contenedorXtreme .videoXtreme {
  margin-top: 0.7rem;
}

.nombreHamburguesaXtreme {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  padding-top: 0.5rem;
}

.nombreHamburguesaXtreme h2 {
  color: white;
  font-size: 3rem;
  margin: 0;
}

.nombreHamburguesaXtreme h4 {
  color: #7037cd;
  margin: 0;
  font-size: 2.5rem;
}

.imagenPersonaCerveza {
  width: 45%;
  height: 100%;
  background-image: url("../../Image/GALERIA-IMAGE/personasCervesa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sombraPersonaCerveza {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.sombraPersonaCerveza:hover {
  background-color: rgba(0, 0, 0, 0);
}

.presentacionGuarnicion {
  display: flex;
  align-items: center;
}
.contenedorImagenArosDeCebolla {
  height: 30rem;
  width: 23rem;
  transition: 2s;
  background-image: url(../../Image/GALERIA-IMAGE/arosCebolla.jpg);
}
.contenedorImagenBastonesDeMuzarella {
  height: 30rem;
  width: 23rem;
  transition: 2s;
  background-image: url(../../Image/GALERIA-IMAGE/bastonesMuzarella.jpg);
}
.contenedorImagenVariado {
  height: 30rem;
  width: 23rem;
  transition: 2s;
  background-image: url(../../Image/GALERIA-IMAGE/guarnicion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedorFraseGuarniciones {
  height: 30rem;
  width: 50rem;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorFraseGuarniciones h2 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  margin: 0;
  font-size: 3rem;
}
.contenedorFraseGuarniciones h4 {
  font-family: "Bebas Neue", sans-serif;
  color: #7037cd;
  margin: 0;
  font-size: 2.3rem;
}
.contenedorBloqueTres {
    display: flex;
}
.videoPizza {
    width: 40rem;
}
.contenedorImagenBarra {
    width: 15rem;
    background-image: url("../../Image/GALERIA-IMAGE/martiniGaleria.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.videoHamburguesaSimple {
    height: 22.5rem;
}
.contenedorTrago {
    width: 12.5rem;
    background-image: url("../../Image/GALERIA-IMAGE/tragoGaleria.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}