@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Tabla */
.botonEditar {
  background-color: #651f71;
}

.botonDelete {
  background-color: #c73333;
}
/* Modal */
.contenedor-editar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12.5rem;
 
}
.headerEditar {
  color: #fff;
  background-color: #181818;
 
  border-radius: 2px 2px 0 0;
  border-bottom: 2px solid #651f71;
}
.bodyEditar {
  color: #fff;
  background-color: #181818;
 
  font-size: 18px;
}

.botonEditarModal {
  background-color: #1d0c20 !important;
  border: 1px solid #651f71 !important;
  font-size: 18px !important;
  color: white !important;
}
.botonEditarModal:hover {
  background-color: #7037cd !important;
  border: 1px solid #7037cd !important;
}

.noEdit {
  background-color: gray !important;
}
.headTabla{
  font-size: x-large;
  text-transform: lowercase;
  }
  
.tabla{
font-size: larger;
}
/*------------------ RESPONSIVE ------------------------- */
@media (min-width: 360px) and (max-width: 914px) {
  .contenedor-editar {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 600px) {
  .tabla {
    border: 0px;
  }

  .tabla thead {
    display: none;
  }
  .tabla tr {
    margin-bottom: 8px;
    display: block;
  }
  .tabla th,
  .tabla td {
    font-size: 12px;
  }
  .tabla td {
    display: block;
    border-bottom: 0.1px solid #ddd;
    text-align: right;
  }
  .tabla td:last-child {
    border-bottom: 0px;
  }
  .tabla td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }
}
